# Notebook Setup

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# Dela - Predicting the amount of deaths per year

### 1. Intro
<b>Who is our client?</b><br>
Our client is Dela. Dela is a funeral insurer and caretaker for funeral services. In this semester, they will give us some inside problems that we can investigate on.<br><br>
<b>Project explanation</b><br>
Dela was faced with unprecedented challenge by the fluctuating demands during the Covid19 first year, and that way they are looking to enhance their abilities to react to surprising serge or drops in demands.
We cannot predict when Dela needs to upscale or downscale. However, we can forecast the amount of deaths in the upcoming years. Based on that knowledge and Dela experience, they can conclude themselves when to upscale or downscale.<br><br>
<b>Project goal</b><br>
In our project, we are going to forecast the amount of deaths per year. In this way we can help them conclude easier what to do on higher, lower demand.<br><br><br>
<b>Document explanation</b><br>
In this document there will be the testing and implementation of the project delivered proposal hypothesis. In this document, we will do that by understanding and experimenting with the collected data. After the understanding, we will see if our hypothesis can be validated and we will do that by applying machine learning onto our dataset.<br><br>
<b>Document setup:</b><br>
<table style="font-size: 14px !important; margin: 0 !important">
    <tr>
        <th style="text-align: left;">Data requirements</th>
        <td style="text-align: left;">In this chapter, we are going to setup the requirements for the data that is needed for the prediction. We will answer questions like ‘Which references are trustworthy?’, ‘Do we need some specific features?’, etc…</td>
    </tr>
    <tr>
        <th style="text-align: left;">Data collection</th>
        <td style="text-align: left;">In this chapter, we are going to explain where we found our data, where we are going to store our data and references to he subchapters of each dataset</td>
    </tr>
    <tr>
        <th style="text-align: left;">Data understanding</th>
        <td style="text-align: left;">In this chapter, we are going to understand each specific dataset that we downloaded to really understand the value of each dataset and how it is going to bring a value to Dela.</td>
    </tr>
    <tr>
        <th style="text-align: left;">Data preparation</th>
        <td style="text-align: left;">In this chapter, we are going to prepare our data so it is clean to work with, think about removing all the data that has invalid records, data that has wrong values or data that has similar features with different names.</td>
    </tr>
</table>

### 2. Provisioning

### 2.1 Data Requirements
In this chapter, we are trying to setup the expectations/ requirements of the data we are going to collect for the provisioning fase.

<table style="font-size: 14px !important; margin: 0 !important">
    <tr>
        <th style="text-align: left !important">Data Domain</th>
        <td style="text-align: left !important"></td>
    </tr>
    <tr>
        <th style="text-align: left !important">Data type</th>
        <td style="text-align: left !important"></td>
    </tr>
    <tr>
        <th style="text-align: left !important">Target Variable</th>
        <td style="text-align: left !important"></td>
    </tr>
    <tr>
        <th style="text-align: left !important">Expected Features</th>
        <td style="text-align: left !important"></td>
    </tr>
</table>

### 2.2 Data Collection
Because we want to search for data that contains the amount of deaths in the Netherlands, we began searching for an open data bank that is governmental. In this case the data is from a trustworthy source and will higher the chance of a good prediction. That's when we landed on CBS (stands for `Centraal Bureau voor de Statistiek`, translated to English that means  `Central Station of Statistics`).

<table style="font-size: 14px !important; margin: 0 !important">
    <tr>
        <th style="text-align: left !important">Data Source</th>
        <td style="text-align: left !important">We got our data from the official   <a href="https://opendata.cbs.nl/statline/portal.html?_la=nl&_catalog=CBS" target="_blank">CBS</a> Website</td>
    </tr>
    <tr>
        <th style="text-align: left !important">Data Storage</th>
        <td style="text-align: left !important">We stored all of our datasets on <a href="https://github.com/i454038/AI-car-price-prediction" target="_blank">Github</a>, so it is globally accessible</td>
    </tr>
</table>

Load in the datasets from Github

In [2]:
# these are custom classes made to keep the notebook neat.
from classes.dataImporting import datasetManager

datasets = datasetManager.defineDatasets()
dataframes = datasetManager.loadDatasets(datasets)

### 2.3 Data Understanding

understand this data

### 2.4 Data Preperation

In [3]:
dataframes['lifeExpectency']['lifeExpectencyPerRegion'].head(5)

,id,Gemeente,Groep_rij,Geslacht,Bij geboorte,Bij geboorte (afwijking tov NL),Bij 65 jaar,Bij 65 jaar (afwijking tov NL)
0,518,'s-Gravenhage,Levensverwachting,Totaal,"80,8","onder, 99% zeker","19,1","onder, 99% zeker"
1,796,'s-Hertogenbosch,Levensverwachting,Totaal,"81,3","onder, 99% zeker","19,7","onder, 99% zeker"
2,1680,Aa en Hunze,Levensverwachting,Totaal,"82,1",geen,"20,4",geen
3,358,Aalsmeer,Levensverwachting,Totaal,"82,9","boven, 99% zeker","20,1",geen
4,197,Aalten,Levensverwachting,Totaal,"82,1",geen,"20,3",geen

In [4]:
#rename columns
dataframes['populationChange']['pop2002_2020'] = (
    dataframes['populationChange']['pop2002_2020']
        .rename(columns={'RegioS': 'Gemeente', 'Perioden': 'Year'})
)

# mapping gemeente code to gemeente text
dataframes['populationChange']['pop2002_2020'] = (
    datasetManager
        .mapFeature(dataframes['populationChange']['pop2002_2020'], "Gemeente")
)
# dataframes['populationChange']['pop2002_2020']
dataframes['populationChange']['pop2002_2020']['Year'] = dataframes['populationChange']['pop2002_2020']['Year'].str[:4]
dataframes['populationChange']['pop2002_2020']['Year'] = pd.to_datetime(dataframes['populationChange']['pop2002_2020']['Year'])


# dataframes['populationChange']['pop2002_2020']['Year'] = (
#     dataframes['populationChange']['pop2002_2020']['Year']
#         .map(lambda x: x.rstrip('JJ00'))
# )

# dataframes['populationChange']['pop2002_2020'] = dataframes['populationChange']['pop2002_2020'][['ID', 'Year','Gemeente', 'BevolkingAanHetBeginVanDePeriode_1',
#        'LevendGeborenKinderen_2', 'Overledenen_3', 'TotaleVestiging_4',
#        'VestigingVanuitEenAndereGemeente_5', 'Immigratie_6',
#        'TotaalVertrekInclAdmCorrecties_7', 'VertrekNaarAndereGemeente_8',
#        'EmigratieInclusiefAdmCorrecties_9', 'OverigeCorrecties_10',
#        'Bevolkingsgroei_11', 'BevolkingsgroeiRelatief_12',
#        'BevolkingsgroeiSinds1Januari_13',
#        'BevolkingsgroeiSinds1JanuariRela_14',
#        'BevolkingAanHetEindeVanDePeriode_15']]

(dataframes['populationChange']['pop2002_2020']
 .groupby(['Year', 'Gemeente'])
)

dataframes['populationChange']['pop2002_2020']

,ID,Gemeente,Year,BevolkingAanHetBeginVanDePeriode_1,LevendGeborenKinderen_2,Overledenen_3,TotaleVestiging_4,VestigingVanuitEenAndereGemeente_5,Immigratie_6,TotaalVertrekInclAdmCorrecties_7,VertrekNaarAndereGemeente_8,EmigratieInclusiefAdmCorrecties_9,OverigeCorrecties_10,Bevolkingsgroei_11,BevolkingsgroeiRelatief_12,BevolkingsgroeiSinds1Januari_13,BevolkingsgroeiSinds1JanuariRela_14,BevolkingAanHetEindeVanDePeriode_15
0,14604,Aa en Hunze,2002-01-01,25552.0,289.0,251.0,1353.0,1121.0,232.0,1617.0,1498.0,119.0,-21.0,-247.0,-0.97,-247.0,-0.97,25305.0
1,14617,Aa en Hunze,2003-01-01,25305.0,279.0,241.0,1127.0,1071.0,56.0,1264.0,1111.0,153.0,12.0,-87.0,-0.34,-87.0,-0.34,25218.0
2,14630,Aa en Hunze,2004-01-01,25218.0,233.0,221.0,1167.0,1104.0,63.0,1077.0,1023.0,54.0,9.0,111.0,0.44,111.0,0.44,25329.0
3,14643,Aa en Hunze,2005-01-01,25329.0,230.0,231.0,1322.0,1254.0,68.0,1143.0,1062.0,81.0,0.0,178.0,0.70,178.0,0.70,25507.0
4,14656,Aa en Hunze,2006-01-01,25507.0,216.0,212.0,1369.0,1320.0,49.0,1326.0,1222.0,104.0,9.0,56.0,0.22,56.0,0.22,25563.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10483,155842,Zwolle,2016-01-01,124896.0,1541.0,913.0,6793.0,6017.0,776.0,6763.0,5996.0,767.0,-6.0,652.0,0.52,652.0,0.52,125548.0
10484,155855,Zwolle,2017-01-01,125548.0,1443.0,977.0,6703.0,5954.0,749.0,6593.0,5937.0,656.0,-8.0,568.0,0.45,568.0,0.45,126116.0
10485,155868,Zwolle,2018-01-01,126116.0,1458.0,988.0,7210.0,6343.0,867.0,6297.0,5567.0,730.0,-2.0,1381.0,1.10,1381.0,1.10,127497.0
10486,155881,Zwolle,2019-01-01,127497.0,1460.0,953.0,6915.0,5940.0,975.0,6071.0,5356.0,715.0,-8.0,1343.0,1.05,1343.0,1.05,128840.0
10487,155894,Zwolle,2020-01-01,128840.0,1469.0,1036.0,6708.0,6022.0,686.0,6136.0,5574.0,562.0,-5.0,1000.0,0.78,1000.0,0.78,129840.0

In [5]:
dataframes['populationChange']['pop2002_2020'].columns

Index(['ID', 'Gemeente', 'Year', 'BevolkingAanHetBeginVanDePeriode_1',
       'LevendGeborenKinderen_2', 'Overledenen_3', 'TotaleVestiging_4',
       'VestigingVanuitEenAndereGemeente_5', 'Immigratie_6',
       'TotaalVertrekInclAdmCorrecties_7', 'VertrekNaarAndereGemeente_8',
       'EmigratieInclusiefAdmCorrecties_9', 'OverigeCorrecties_10',
       'Bevolkingsgroei_11', 'BevolkingsgroeiRelatief_12',
       'BevolkingsgroeiSinds1Januari_13',
       'BevolkingsgroeiSinds1JanuariRela_14',
       'BevolkingAanHetEindeVanDePeriode_15'],
      dtype='object')

In [6]:
# underneath each gemeente, we create a summary of the numbers in the whole netherlands
# this dataset will help doing that
dataframes['populationChange']['popOverview'].head(1)

,Regio's,Onderwerp,Unnamed: 2,2002,2003,2004,2005,2006,2007,2008,...,2017,2018,2019,2020 januari,2020 februari,2020 maart,2020 oktober,2020 november,2020 december,2020
0,Nederland,Bevolking aan het begin van de periode,aantal,16105285,16192572,16258032,16305526,16334210,16357992,16405399,...,17081507,17181084,17282163,17407585,17413971,17423863,17465296,17472440,17476482,17407585

In [7]:
# allready in another dataset
dataframes['populationChange']['popComparison2015_2020'].head(10)

   id              Gemeente                   Indicator   Waarde
0   3            Appingedam        Aantal inwoners 2015   12.011
1   3            Appingedam        Aantal inwoners 2020   11.642
2   3            Appingedam  Bevolkingsontwikkeling (%)     -3,1
3  10              Delfzijl        Aantal inwoners 2015   25.409
4  10              Delfzijl        Aantal inwoners 2020   24.678
5  10              Delfzijl  Bevolkingsontwikkeling (%)     -2,9
6  14  Groningen (gemeente)        Aantal inwoners 2015  226.712
7  14  Groningen (gemeente)        Aantal inwoners 2020  232.874
8  14  Groningen (gemeente)  Bevolkingsontwikkeling (%)      2,7
9  24             Loppersum        Aantal inwoners 2015   10.140

In [8]:
dataframes['populationChange']['growthPrediction2020_2050'].head(50)

,id,Gemeente,Indicator,2030,2040,2050
0,3,Appingedam,Absoluut aantal inwoners,10.873,10.046,9.253
1,3,Appingedam,Bevolkingsgroei (% t.o.v. 2020),"-6,6","-13,7","-20,5"
2,10,Delfzijl,Absoluut aantal inwoners,22.393,19.182,16.213
3,10,Delfzijl,Bevolkingsgroei (% t.o.v. 2020),"-9,3","-22,3","-34,3"
4,14,Groningen (gemeente),Absoluut aantal inwoners,246.859,250.006,250.398
5,14,Groningen (gemeente),Bevolkingsgroei (% t.o.v. 2020),"6,0","7,4","7,5"
6,24,Loppersum,Absoluut aantal inwoners,8.535,7.524,6.645
7,24,Loppersum,Bevolkingsgroei (% t.o.v. 2020),"-10,5","-21,1","-30,3"
8,34,Almere,Absoluut aantal inwoners,237.752,259.876,271.065
9,34,Almere,Bevolkingsgroei (% t.o.v. 2020),"12,2","22,6","27,9"
10,37,Stadskanaal,Absoluut aantal inwoners,30.797,28.916,27.482
11,37,Stadskanaal,Bevolkingsgroei (% t.o.v. 2020),"-2,8","-8,7","-13,3"
12,47,Veendam,Absoluut aantal inwoners,26.872,25.870,25.046
13,47,Veendam,Bevolkingsgroei (% t.o.v. 2020),"-1,9","-5,5","-8,5"
14,50,Zeewolde,Absoluut aantal inwoners,21.900,22.508,23.073
15,50,Zeewolde,Bevolkingsgroei (% t.o.v. 2020),"-3,3","-0,6","1,9"
16,59,Achtkarspelen,Absoluut aantal inwoners,27.592,27.195,26.717
17,59,Achtkarspelen,Bevolkingsgroei (% t.o.v. 2020),"-0,9","-2,3","-4,0"
18,60,Ameland,Absoluut aantal inwoners,3.744,3.749,3.746
19,60,Ameland,Bevolkingsgroei (% t.o.v. 2020),"0,8","0,9","0,8"
20,72,Harlingen,Absoluut aantal inwoners,15.099,14.307,13.593
21,72,Harlingen,Bevolkingsgroei (% t.o.v. 2020),"-4,0","-9,0","-13,5"
22,74,Heerenveen,Absoluut aantal inwoners,50.834,51.215,50.556
23,74,Heerenveen,Bevolkingsgroei (% t.o.v. 2020),"0,7","1,4","0,1"
24,80,Leeuwarden,Absoluut aantal inwoners,127.492,126.306,122.805
25,80,Leeuwarden,Bevolkingsgroei (% t.o.v. 2020),"2,7","1,8","-1,0"
26,85,Ooststellingwerf,Absoluut aantal inwoners,24.801,24.512,23.990
27,85,Ooststellingwerf,Bevolkingsgroei (% t.o.v. 2020),"-2,6","-3,8","-5,8"
28,86,Opsterland,Absoluut aantal inwoners,28.717,28.193,27.169
29,86,Opsterland,Bevolkingsgroei (% t.o.v. 2020),"-3,4","-5,2","-8,6"
30,88,Schiermonnikoog,Absoluut aantal inwoners,902,830,754
31,88,Schiermonnikoog,Bevolkingsgroei (% t.o.v. 2020),"-4,8","-12,4","-20,4"
32,90,Smallingerland,Absoluut aantal inwoners,54.480,53.147,50.648
33,90,Smallingerland,Bevolkingsgroei (% t.o.v. 2020),"-3,0","-5,3","-9,8"
34,93,Terschelling,Absoluut aantal inwoners,4.728,4.341,3.740
35,93,Terschelling,Bevolkingsgroei (% t.o.v. 2020),"-3,3","-11,2","-23,5"
36,96,Vlieland,Absoluut aantal inwoners,1.106,1.082,1.050
37,96,Vlieland,Bevolkingsgroei (% t.o.v. 2020),"-4,2","-6,3","-9,1"
38,98,Weststellingwerf,Absoluut aantal inwoners,26.427,26.780,26.931
39,98,Weststellingwerf,Bevolkingsgroei (% t.o.v. 2020),"2,0","3,3","3,9"
40,106,Assen,Absoluut aantal inwoners,70.765,73.000,72.948
41,106,Assen,Bevolkingsgroei (% t.o.v. 2020),"3,2","6,4","6,3"
42,109,Coevorden,Absoluut aantal inwoners,33.626,32.717,31.666
43,109,Coevorden,Bevolkingsgroei (% t.o.v. 2020),"-4,7","-7,3","-10,3"
44,114,Emmen,Absoluut aantal inwoners,105.326,103.208,100.206
45,114,Emmen,Bevolkingsgroei (% t.o.v. 2020),"-1,6","-3,6","-6,4"
46,118,Hoogeveen,Absoluut aantal inwoners,55.126,54.638,53.061
47,118,Hoogeveen,Bevolkingsgroei (% t.o.v. 2020),"-1,0","-1,9","-4,7"
48,119,Meppel,Absoluut aantal inwoners,34.713,34.769,34.591
49,119,Meppel,Bevolkingsgroei (% t.o.v. 2020),"2,3","2,5","2,0"

In [9]:
dataframes['populationChange']['absoluteNr'].head(1)

   id    Gemeente                   Indicator  Waarde
0   3  Appingedam  Aantal inwoners (absoluut)  11.642

In [10]:
dataframes['death']['reasons1997_2014'].head(1)

,ID,Geslacht,Leeftijd,DoodsoorzakenUitgebreideLijst,Perioden,Overledenen_1
0,1,T001038,10000,T001075,1997JJ00,135783.0

In [11]:
dataframes['death']['reasons2005_2012'].head(1)

,ID,Geslacht,Leeftijd,DoodsoorzakenUitgebreideLijst,Perioden,Overledenen_1
0,9,T001038,10000,T001075,2005JJ00,136402.0

In [12]:
dataframes['death']['reasons2013_2020'].head(1)

,ID,Geslacht,Leeftijd,DoodsoorzakenUitgebreideLijst,Perioden,Overledenen_1
0,17,T001038,10000,T001075,2013JJ00,141245.0

In [13]:
dataframes['death']['perWeek2020_2021'].head(1)

,,,Overledenen,Verwacht aantal overledenen,Verwacht aantal overledenen (95%-interval)
0,2020,1.0,3103.0,3277.0,2908 – 3645

In [14]:
dataframes['birth']['birthPerYear1899_2018'].head(1)

   Jaar  Levend geborenen
0  1899             163.0

In [15]:
dataframes['birth']['avaragesOfMonth'].head(1)

     Maand   2021*    2020    1975
0  januari  13,899  14,085  15,140

<b>Clean Data</b>

- lifeExpectency
    - lifeExpectencyPerRegion2016_2019 
- populationChange
    - pop2002_2020
    - popOverview
    - popComparison2015_2020
    - growthPrediction2020_2050
    - absoluteNr
- death
    - reasons1997_2014
    - reasons2005_2012
    - reasons2013_2020
    - perWeek2020_2021
- birth
    - birthPerYear1899_2018
    - avaragesOfMonth

<b>Merge</b>

In [16]:
# these are custom classes made to keep the notebook neat.

<b>Heatmap</b>