# Notebook Setup

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from mpl_toolkits.mplot3d import Axes3D
import numpy as np
from sklearn.feature_selection import SelectKBest, mutual_info_regression
from sklearn.model_selection import train_test_split as tts

# Dela - Predicting the amount of deaths per year

### 1. Intro
<b>Who is our client?</b><br>
Our client is Dela. Dela is a funeral insurer and caretaker for funeral services. In this semester, they will give us some inside problems that we can investigate on.<br><br>
<b>Project explanation</b><br>
Dela was faced with unprecedented challenge by the fluctuating demands during the Covid19 first year, and that way they are looking to enhance their abilities to react to surprising serge or drops in demands.
We cannot predict when Dela needs to upscale or downscale. However, we can forecast the amount of deaths in the upcoming years. Based on that knowledge and Dela experience, they can conclude themselves when to upscale or downscale.<br><br>
<b>Project goal</b><br>
In our project, we are going to forecast the amount of deaths per year. In this way we can help them conclude easier what to do on higher, lower demand.<br><br><br>
<b>Document explanation</b><br>
In this document there will be the testing and implementation of the project delivered proposal hypothesis. In this document, we will do that by understanding and experimenting with the collected data. After the understanding, we will see if our hypothesis can be validated and we will do that by applying machine learning onto our dataset.<br><br>
<b>Document setup:</b><br>
<table style="font-size: 14px !important; margin: 0 !important">
    <tr>
        <th style="text-align: left;">Data requirements</th>
        <td style="text-align: left;">In this chapter, we are going to setup the requirements for the data that is needed for the prediction. We will answer questions like ‘Which references are trustworthy?’, ‘Do we need some specific features?’, etc…</td>
    </tr>
    <tr>
        <th style="text-align: left;">Data collection</th>
        <td style="text-align: left;">In this chapter, we are going to explain where we found our data, where we are going to store our data and references to he subchapters of each dataset</td>
    </tr>
    <tr>
        <th style="text-align: left;">Data understanding</th>
        <td style="text-align: left;">In this chapter, we are going to understand each specific dataset that we downloaded to really understand the value of each dataset and how it is going to bring a value to Dela.</td>
    </tr>
    <tr>
        <th style="text-align: left;">Data preparation</th>
        <td style="text-align: left;">In this chapter, we are going to prepare our data so it is clean to work with, think about removing all the data that has invalid records, data that has wrong values or data that has similar features with different names.</td>
    </tr>
</table>

### 2. Provisioning

### 2.1 Data Requirements
In this chapter, we are trying to setup the expectations/ requirements of the data we are going to collect for the provisioning fase.

<table style="font-size: 14px !important; margin: 0 !important">
    <tr>
        <th style="text-align: left !important">Data Domain</th>
        <td style="text-align: left !important"></td>
    </tr>
    <tr>
        <th style="text-align: left !important">Data type</th>
        <td style="text-align: left !important"></td>
    </tr>
    <tr>
        <th style="text-align: left !important">Target Variable</th>
        <td style="text-align: left !important"></td>
    </tr>
    <tr>
        <th style="text-align: left !important">Expected Features</th>
        <td style="text-align: left !important"></td>
    </tr>
</table>

### 2.2 Data Collection
Because we want to search for data that contains the amount of deaths in the Netherlands, we began searching for an open data bank that is governmental. In this case the data is from a trustworthy source and will higher the chance of a good prediction. That's when we landed on CBS (stands for `Centraal Bureau voor de Statistiek`, translated to English that means  `Central Station of Statistics`).

<table style="font-size: 14px !important; margin: 0 !important">
    <tr>
        <th style="text-align: left !important">Data Source</th>
        <td style="text-align: left !important">We got our data from the official   <a href="https://opendata.cbs.nl/statline/portal.html?_la=nl&_catalog=CBS" target="_blank">CBS</a> Website</td>
    </tr>
    <tr>
        <th style="text-align: left !important">Data Storage</th>
        <td style="text-align: left !important">We stored all of our datasets on <a href="https://github.com/i454038/AI-car-price-prediction" target="_blank">Github</a>, so it is globally accessible</td>
    </tr>
</table>

Load in the datasets from Github

In [2]:
# these are custom classes made to keep the notebook neat.
from classes.dataImporting import datasetManager

datasets = datasetManager.defineDatasets()
dataframes = datasetManager.loadDatasets(datasets)

### 2.3 Data Understanding

We want to plot the deceased

### 2.4 Data Preperation

### LifeExpectency - LifeExpectencyPerRegion

For the life expectency
- We renamed the columns to English.
- We converted the integer columns to floats instead of objects.

In [3]:
dataframes['lifeExpectency']['lifeExpectencyPerRegion'] = (
    dataframes['lifeExpectency']['lifeExpectencyPerRegion']
        .rename(columns=datasetManager.renameFeatures('lifeExpectency.lifeExpectencyPerRegion'))
        .assign(LifeExpectancy = lambda x: x.LifeExpectancy.str.replace(',', '.').astype(float))
        .assign(LifeExpectancyWhen65OrOlder = lambda x: x.LifeExpectancyWhen65OrOlder.str.replace(',', '.').astype(float))
)

In [4]:
dataframes['lifeExpectency']['lifeExpectencyPerRegion'].head()

,id,Municipality,Groep_rij,Geslacht,LifeExpectancy,LifeExpectancyNL,LifeExpectancyWhen65OrOlder,LifeExpectancyWhen65OrOlderNL
0,518,'s-Gravenhage,Levensverwachting,Totaal,80.8,"onder, 99% zeker",19.1,"onder, 99% zeker"
1,796,'s-Hertogenbosch,Levensverwachting,Totaal,81.3,"onder, 99% zeker",19.7,"onder, 99% zeker"
2,1680,Aa en Hunze,Levensverwachting,Totaal,82.1,geen,20.4,geen
3,358,Aalsmeer,Levensverwachting,Totaal,82.9,"boven, 99% zeker",20.1,geen
4,197,Aalten,Levensverwachting,Totaal,82.1,geen,20.3,geen

### PopulationChange - Pop2002_2020

In [5]:
# transform dataset to align with others
dataframes['populationChange']['pop2002_2020'] = (
    dataframes['populationChange']['pop2002_2020']
        .rename(columns=datasetManager.renameFeatures('populationChange.pop2002_2020'))
        .assign(Year = lambda x: pd.to_datetime(x.Year.str[:4]).dt.year)
)

In [6]:
dataframes['populationChange']['pop2002_2020'].head(5)

,ID,Municipality,Year,PopulationAtBeginOfPeriod,AliveBornChildren,Deceased,TotalLocations,LocationsFromOtherMunicipality,Immigration,TotaalVertrekInclAdmCorrecties_7,AmountMovedToOtherMunicipality,EmigratieInclusiefAdmCorrecties_9,OverigeCorrecties_10,PopulationGrowth,RelativePopulationGrowth,PopulationGrowthSinceJanuari,RelativePopulationGrowthSinceJanuari,PopulationAtEndOfPeriod
0,14604,GM1680,2002,25552.0,289.0,251.0,1353.0,1121.0,232.0,1617.0,1498.0,119.0,-21.0,-247.0,-0.97,-247.0,-0.97,25305.0
1,14617,GM1680,2003,25305.0,279.0,241.0,1127.0,1071.0,56.0,1264.0,1111.0,153.0,12.0,-87.0,-0.34,-87.0,-0.34,25218.0
2,14630,GM1680,2004,25218.0,233.0,221.0,1167.0,1104.0,63.0,1077.0,1023.0,54.0,9.0,111.0,0.44,111.0,0.44,25329.0
3,14643,GM1680,2005,25329.0,230.0,231.0,1322.0,1254.0,68.0,1143.0,1062.0,81.0,0.0,178.0,0.70,178.0,0.70,25507.0
4,14656,GM1680,2006,25507.0,216.0,212.0,1369.0,1320.0,49.0,1326.0,1222.0,104.0,9.0,56.0,0.22,56.0,0.22,25563.0

### Death - Reason of Death

In [7]:
dataframes['death']['reason_per_year_per_region2002_2020'] = (
    pd.concat([
        dataframes['death']['reasons_per_year_per_region2002_2015'], 
        dataframes['death']['reasons_per_year_per_region2016_2020']
    ])
)

dataframes['death']['reason_per_year_per_region2002_2020'] = (
    dataframes['death']['reason_per_year_per_region2002_2020']
        .rename(columns={'RegioS': 'Municipality', 'Perioden': 'Year'})
        .assign(Year = lambda x: pd.to_datetime(x.Year.str[:4]).dt.year)
)

### Merge Datasets

<table style="margin: 0 !important; font-size: 14px !important">
    <tr>
        <th style="text-align: left !important">Goal:</th>
        <td style="text-align: left !important">
            Merge the datasets:<br>
            <ul>
                <li>lifeExpectency</li>
                <li>population</li>
                <li>reason of death</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th style="text-align: left !important">Possible Solutions:</th>
        <td style="text-align: left !important">
            <ul>
                <li>merge (pandas)</li>
                <li>concatinate (pandas)</li>
            </ul>
        </td>
    </tr>
</table>

<b>Merge</b><br>
Merge DataFrame or named Series objects with a database-style join.<br>
A named Series object is treated as a DataFrame with a single named column.<br>
The join is done on columns or indexes. If joining columns on columns, the DataFrame indexes will be ignored. Otherwise if joining indexes on indexes or indexes on a column or columns, the index will be passed on. When performing a cross merge, no column specifications to merge on are allowed.<br>
<b>Concatinate</b><br>
Concatenate pandas objects along a particular axis with optional set logic along the other axes.<br>
Can also add a layer of hierarchical indexing on the concatenation axis, which may be useful if the labels are the same (or overlapping) on the passed axis number.<br>
<b>What is the best solution?</b><br>
Our datasets do not have the same columns, it's even so that they have diffrent columns. We want to add features to one dataset and we do not want to align the dataset on a particular axis. This is why we are using the merge function to make one big dataset.

In [8]:
dataset = (
    dataframes['populationChange']['pop2002_2020']
        .merge(dataframes['lifeExpectency']['lifeExpectencyPerRegion'], how='outer', on="Municipality")
        .merge(dataframes['death']['reason_per_year_per_region2002_2020'], how='outer', on=['Year', "Municipality"])
        .assign(Municipality = lambda x: x.Municipality.replace(datasetManager.mapFeature('Municipality')))
        .fillna(0)
        .assign(Year = lambda x: x.Year.replace(0, 2002))
        .assign(Year = lambda x: x.Year.astype(int))
)
dataset['Year'].unique()

array([2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])

In [9]:
dataset.set_index(['Municipality', 'Year'], inplace=True)

In [10]:
dataset

                         ID_x  PopulationAtBeginOfPeriod  AliveBornChildren  \
Municipality    Year
Aa en Hunze     2002  14604.0                    25552.0              289.0
                2003  14617.0                    25305.0              279.0
                2004  14630.0                    25218.0              233.0
                2005  14643.0                    25329.0              230.0
                2006  14656.0                    25507.0              216.0
...                       ...                        ...                ...
Zundert         2002      0.0                        0.0                0.0
Zutphen         2002      0.0                        0.0                0.0
Zwartewaterland 2002      0.0                        0.0                0.0
Zwijndrecht     2002      0.0                        0.0                0.0
Zwolle          2002      0.0                        0.0                0.0

                      Deceased  TotalLocations  \
Municipality    Year
Aa en Hunze     2002     251.0          1353.0
                2003     241.0          1127.0
                2004     221.0          1167.0
                2005     231.0          1322.0
                2006     212.0          1369.0
...                        ...             ...
Zundert         2002       0.0             0.0
Zutphen         2002       0.0             0.0
Zwartewaterland 2002       0.0             0.0
Zwijndrecht     2002       0.0             0.0
Zwolle          2002       0.0             0.0

                      LocationsFromOtherMunicipality  Immigration  \
Municipality    Year
Aa en Hunze     2002                          1121.0        232.0
                2003                          1071.0         56.0
                2004                          1104.0         63.0
                2005                          1254.0         68.0
                2006                          1320.0         49.0
...                                              ...          ...
Zundert         2002                             0.0          0.0
Zutphen         2002                             0.0          0.0
Zwartewaterland 2002                             0.0          0.0
Zwijndrecht     2002                             0.0          0.0
Zwolle          2002                             0.0          0.0

                      TotaalVertrekInclAdmCorrecties_7  \
Municipality    Year
Aa en Hunze     2002                            1617.0
                2003                            1264.0
                2004                            1077.0
                2005                            1143.0
                2006                            1326.0
...                                                ...
Zundert         2002                               0.0
Zutphen         2002                               0.0
Zwartewaterland 2002                               0.0
Zwijndrecht     2002                               0.0
Zwolle          2002                               0.0

                      AmountMovedToOtherMunicipality  \
Municipality    Year
Aa en Hunze     2002                          1498.0
                2003                          1111.0
                2004                          1023.0
                2005                          1062.0
                2006                          1222.0
...                                              ...
Zundert         2002                             0.0
Zutphen         2002                             0.0
Zwartewaterland 2002                             0.0
Zwijndrecht     2002                             0.0
Zwolle          2002                             0.0

                      EmigratieInclusiefAdmCorrecties_9  ...  \
Municipality    Year                                     ...
Aa en Hunze     2002                              119.0  ...
                2003                              153.0  ...
                2004                               54.0  ...
                2005                               81.0  ...
                2006                              104.0  ...
...                                                 ...  ...
Zundert         2002                                0.0  ...
Zutphen         2002                                0.0  ...
Zwartewaterland 2002                                0.0  ...
Zwijndrecht     2002                                0.0  ...
Zwolle          2002                                0.0  ...

                      k_1713AccidenteleVerdrinking_86  \
Municipality    Year
Aa en Hunze     2002                              0.0
                2003                              0.0
                2004                              0.0
                2005                              0.0
                2006                              0.0
...                                               ...
Zundert         2002                              0.0
Zutphen         2002                              0.0
Zwartewaterland 2002                              0.0
Zwijndrecht     2002                              0.0
Zwolle          2002                              0.0

                      k_1714AccidenteleVergiftiging_87  \
Municipality    Year
Aa en Hunze     2002                               0.0
                2003                               0.0
                2004                               0.0
                2005                               0.0
                2006                               0.0
...                                                ...
Zundert         2002                               0.0
Zutphen         2002                               0.0
Zwartewaterland 2002                               0.0
Zwijndrecht     2002                               0.0
Zwolle          2002                               0.0

                      k_1715OverigeOngevallen_88  k_172Zelfdoding_89  \
Municipality    Year
Aa en Hunze     2002                         0.0                 0.0
                2003                         0.0                 0.0
                2004                         0.0                 0.0
                2005                         0.0                 0.0
                2006                         0.0                 0.0
...                                          ...                 ...
Zundert         2002                         0.0                 0.0
Zutphen         2002                         0.0                 0.0
Zwartewaterland 2002                         0.0                 0.0
Zwijndrecht     2002                         0.0                 0.0
Zwolle          2002                         0.0                 0.0

                      k_173MoordEnDoodslag_90  \
Municipality    Year
Aa en Hunze     2002                      0.0
                2003                      0.0
                2004                      0.0
                2005                      0.0
                2006                      0.0
...                                       ...
Zundert         2002                      0.0
Zutphen         2002                      0.0
Zwartewaterland 2002                      0.0
Zwijndrecht     2002                      0.0
Zwolle          2002                      0.0

                      k_174GebeurtenissenOpzetOnbekend_91  \
Municipality    Year
Aa en Hunze     2002                                  0.0
                2003                                  0.0
                2004                                  0.0
                2005                                  0.0
                2006                                  0.0
...                                                   ...
Zundert         2002                                  0.0
Zutphen         2002                                  0.0
Zwartewaterland 2002                                  0.0
Zwijndrecht     2002                                  0.0
Zwolle          2002                                  0.0

                      k_175OverigeUitwendigeDoodsoorzaken_92  \
Municipality    Year
Aa en Hunze     2002                                     0.0
                2003                                     0.0
                2004                                     0.0
                2005                                     0.0
                2006                                     0.0
...                                                      ...
Zundert         2002                                     0.0
Zutphen         2002                                     0.0
Zwartewaterland 2002                                     0.0
Zwijndrecht     2002                                     0.0
Zwolle          2002                                     0.0

                     k_18TotaalCOVID19Coronavirus19_93  \
Municipality    Year
Aa en Hunze     2002                               0.0
                2003                               0.0
                2004                               0.0
                2005                               0.0
                2006                               0.0
...                                                ...
Zundert         2002                               0.0
Zutphen         2002                               0.0
Zwartewaterland 2002                               0.0
Zwijndrecht     2002                               0.0
Zwolle          2002                               0.0

                     k_181VastgesteldeCOVID19_94  k_182VermoedelijkeCOVID19_95
Municipality    Year
Aa en Hunze     2002                         0.0                           0.0
                2003                         0.0                           0.0
                2004                         0.0                           0.0
                2005                         0.0                           0.0
                2006                         0.0                           0.0
...                                          ...                           ...
Zundert         2002                         0.0                           0.0
Zutphen         2002                         0.0                           0.0
Zwartewaterland 2002                         0.0                           0.0
Zwijndrecht     2002                         0.0                           0.0
Zwolle          2002                         0.0                           0.0

[24618 rows x 121 columns]

In [11]:
municipalities = dataset.reset_index()['Municipality'].unique()
datasets = {}
for munucipality in municipalities:
    datasets[munucipality] = dataset.loc[munucipality]

PredictingDataset = datasets['Aa en Hunze']
print(datasets['Amsterdam']['Deceased'])
print(datasets['Zwolle']['Deceased'])
# pd.DataFrame({
#     "recall": {
#         "amsterdam": '0.82',
#         'zwolle': '0.42'
#     },
#     'accuracy': {
#         "amsterdam": '0.82',
#         'zwolle': '0.42'
#     }
# })

Year
2002    6546.0
2002    6546.0
2002    6546.0
2002    6546.0
2002    6546.0
         ...
2020    5763.0
2020    5763.0
2020    5763.0
2020    5763.0
2002       0.0
Name: Deceased, Length: 571, dtype: float64
Year
2002     953.0
2002     953.0
2002     953.0
2002     953.0
2002     953.0
         ...
2020    1036.0
2020    1036.0
2020    1036.0
2020    1036.0
2002       0.0
Name: Deceased, Length: 571, dtype: float64

In [22]:
datasets['Amsterdam'].shape

(571, 121)

<table style="margin: 0 !important;">
    <tr>
        <th style="text=align: center !important">Goal:</th>
        <td style="text=align: center !important">
            Grouping the dataset from municapality to year:<br>
        </td>
    </tr>
    <tr>
        <th style="text=align: center !important">Possible Solutions:</th>
        <td style="text=align: center !important">
            <ul>
                <li>groupby</li>
                <li>sort</li>
            </ul>
        </td>
    </tr>
</table>

<b>GroupBy</b><br>
explenation<br>
<b>Sort</b><br>
explenation

### Rename columns

In [12]:
#PredictingDataset = dataset.assign(Municipality = lambda x: x.Municipality.astype("category").cat.codes)
# remove values with type string (object) because they are useless eather way
PredictingDataset = PredictingDataset[[
    i for i in list(PredictingDataset.columns) 
    if i not in 
    ['Groep_rij', 'Geslacht_x', 'LifeExpectancyNL', 'LifeExpectancyWhen65OrOlderNL', 'Geslacht_y']
]]

In [13]:
y = PredictingDataset.Deceased
X = PredictingDataset.loc[:, PredictingDataset.columns != 'Deceased']

sel = SelectKBest(mutual_info_regression, k=10)
X_new = sel.fit_transform(X,y)

cols = sel.get_support()
features_df_new = X.iloc[:,cols]
print("\n")
print("SelectKBest chooses following highest correlated features:")
print(features_df_new.keys())

X = X[features_df_new.keys()]

SelectKBest chooses following highest correlated features:
Index(['ID_x', 'PopulationAtBeginOfPeriod', 'AliveBornChildren',
       'TotalLocations', 'LocationsFromOtherMunicipality', 'Immigration',
       'TotaalVertrekInclAdmCorrecties_7', 'AmountMovedToOtherMunicipality',
       'id', 'LifeExpectancyWhen65OrOlder'],
      dtype='object')

In [14]:
X

,ID_x,PopulationAtBeginOfPeriod,AliveBornChildren,TotalLocations,LocationsFromOtherMunicipality,Immigration,TotaalVertrekInclAdmCorrecties_7,AmountMovedToOtherMunicipality,id,LifeExpectancyWhen65OrOlder
Year,,,,,,,,,,
2002,14604.0,25552.0,289.0,1353.0,1121.0,232.0,1617.0,1498.0,0.0,0.0
2003,14617.0,25305.0,279.0,1127.0,1071.0,56.0,1264.0,1111.0,0.0,0.0
2004,14630.0,25218.0,233.0,1167.0,1104.0,63.0,1077.0,1023.0,0.0,0.0
2005,14643.0,25329.0,230.0,1322.0,1254.0,68.0,1143.0,1062.0,0.0,0.0
2006,14656.0,25507.0,216.0,1369.0,1320.0,49.0,1326.0,1222.0,0.0,0.0
2007,14669.0,25563.0,237.0,1208.0,1151.0,57.0,1192.0,1099.0,0.0,0.0
2008,14682.0,25598.0,223.0,1163.0,1087.0,76.0,1121.0,1096.0,0.0,0.0
2009,14695.0,25675.0,205.0,1074.0,984.0,90.0,1131.0,1055.0,0.0,0.0
2010,14708.0,25563.0,195.0,1306.0,1095.0,211.0,1051.0,990.0,0.0,0.0
2011,14721.0,25785.0,173.0,1092.0,1017.0,75.0,1061.0,997.0,0.0,0.0
2012,14734.0,25738.0,170.0,1084.0,995.0,89.0,1192.0,1018.0,0.0,0.0
2013,14747.0,25541.0,164.0,1051.0,980.0,71.0,1165.0,1090.0,0.0,0.0
2014,14760.0,25357.0,159.0,1103.0,1050.0,53.0,1177.0,1088.0,0.0,0.0
2015,14773.0,25203.0,167.0,1377.0,1308.0,69.0,1249.0,1183.0,0.0,0.0
2016,14786.0,25243.0,136.0,1457.0,1374.0,83.0,1280.0,1188.0,0.0,0.0
2017,14799.0,25286.0,164.0,1682.0,1592.0,90.0,1472.0,1393.0,0.0,0.0
2018,14812.0,25390.0,162.0,1501.0,1414.0,87.0,1384.0,1303.0,0.0,0.0
2019,14825.0,25386.0,176.0,1512.0,1411.0,101.0,1349.0,1305.0,0.0,0.0
2020,14838.0,25445.0,167.0,1520.0,1465.0,55.0,1459.0,1395.0,0.0,0.0
2002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1680.0,20.4

In [15]:
scaler = StandardScaler()
X_new = scaler.fit_transform(X_new)

In [19]:
from sklearn.neighbors import KNeighborsRegressor

X_train, X_test, y_train, y_test = tts(X_new, y, test_size=0.2, random_state=20)

neigh = KNeighborsRegressor(n_neighbors=5)
neigh.fit(X_train, y_train)
print(neigh.predict(X_test))

[264.8 259.8 237.6 247.8]

In [17]:
# dataset = (
#     dataset
#         .groupby(['Year', 'Municipality']).mean()
#         .reset_index()
# )

In [18]:
# dataset
import plotly.express as px
px.line(dataset, x="Year", y='Deceased', color="Municipality", title="Deceased per Year per Municipality in the Netherlands")

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['ID_x', 'PopulationAtBeginOfPeriod', 'AliveBornChildren', 'Deceased', 'TotalLocations', 'LocationsFromOtherMunicipality', 'Immigration', 'TotaalVertrekInclAdmCorrecties_7', 'AmountMovedToOtherMunicipality', 'EmigratieInclusiefAdmCorrecties_9', 'OverigeCorrecties_10', 'PopulationGrowth', 'RelativePopulationGrowth', 'PopulationGrowthSinceJanuari', 'RelativePopulationGrowthSinceJanuari', 'PopulationAtEndOfPeriod', 'id', 'Groep_rij', 'Geslacht_x', 'LifeExpectancy', 'LifeExpectancyNL', 'LifeExpectancyWhen65OrOlder', 'LifeExpectancyWhen65OrOlderNL', 'ID_y', 'Geslacht_y', 'Leeftijd', 'TotaalAlleOnderliggendeDoodsoorzaken_1', 'TotaalInfectieuzeEnParasitaireZktn_2', 'k_11Tuberculose_3', 'k_12Meningokokkeninfecties_4', 'k_13ViraleHepatitis_5', 'k_14AIDS_6', 'k_15OvInfectieuzeEnParasitaireZktn_7', 'TotaalNieuwvormingen_8', 'TotaalKwaadaardigeNieuwvormingen_9', 'k_211KwNvVanLipMondEnKeel_10', 'k_212KwNvVanSlokdarm_11', 'k_213KwNvVanMaag_12', 'k_214KwNvVanDikkeDarm_13', 'k_215KwNvVanEndeldarmEnAnus_14', 'k_216KwNvLeverEnIntrahGalwegen_15', 'k_217KwNvVanGalblaasEnGalwegen_16', 'k_218KwNvVanAlvleesklier_17', 'k_219KwNvVanStrottehoofd_18', 'k_2110KwNvVanLuchtpijpEnLong_19', 'k_2111MelanoomVanHuid_20', 'k_2112KwNvVanBorst_21', 'k_2113KwNvVanBaarmoederhals_22', 'k_2114KwNvVanBaarmoederlichaam_23', 'k_2115KwNvVanEierstok_24', 'k_2116KwNvVanProstaat_25', 'k_2117KwNvNierBehalveNierbekken_26', 'k_2118KwNvVanUrineblaas_27', 'k_2119KwNvLymfEnBloedvWeefsel_28', 'k_2120OvKwaadaardigeNieuwvormingen_29', 'k_22OverigeNieuwvormingen_30', 'k_3ZktnBloedBloedvormendeOrganenEn_31', 'TotaalEndocrieneVoedingsStofwZ_32', 'k_41Suikerziekte_33', 'k_42OvEndocrieneVoedingsStofwis_34', 'TotaalPsychischeStoornissen_35', 'k_51PsychischeStoornissenDoorAlcohol_36', 'k_52PsychischeStoornissenDrugsEnVl_37', 'k_53OverigePsychischeStoornissen_38', 'TotaalZiektenZenuwstelselEnZintuigen_39', 'k_61Hersenvliesontsteking_40', 'k_62ZiekteVanParkinson_41', 'k_63OvZktnZenuwstelselEnZintuigen_42', 'TotaalZiektenVanHartEnVaatstelsel_43', 'TotaalZiektenVanDeKransvaten_44', 'k_711AcuutHartinfarct_45', 'k_712OverigeZiektenVanDeKransvaten_46', 'k_72OverigeHartziekten_47', 'k_73Hersenvaatletsels_48', 'k_74OverigeZiektenHartEnVaatstelsel_49', 'TotaalZiektenVanDeAdemhalingsorganen_50', 'k_81Griep_51', 'k_82Longontsteking_52', 'TotaalChronischeAandOndersteLucht_53', 'k_831Astma_54', 'k_832OvChronAandOndersteLuchtw_55', 'k_84OverigeZiektenAdemhalingsorganen_56', 'TotaalZiektenSpijsverteringsorganen_57', 'k_91MaagzweerEnZweerAanTwaalfvinge_58', 'TotaalChronischeLeveraandoeningen_59', 'k_921ChronischeLeveraandAlcohol_60', 'k_922OvChronischeLeveraandoeningen_61', 'k_93OvZiektenSpijsverteringsorganen_62', 'k_10ZiektenHuidOnderhuidsBindweefsel_63', 'TotaalZiektenSpierenBeendBindwfsl_64', 'k_111ReumatoideArtritisEnArtrose_65', 'k_112OvZktnSpierenBeendBindwfsl_66', 'TotaalZktnUrinewegenEnGeslOrganen_67', 'k_121ZiektenVanNierEnUrineleider_68', 'k_122OvZktnUrinewegenEnGeslOrganen_69', 'k_13ComplicatiesZwangerschapBevallin_70', 'k_14AandoeningenVDPerinatalePeriode_71', 'TotaalAangeborenAfwijkingen_72', 'k_151AangeborenAfwZenuwstelsel_73', 'k_152AangeborenAfwHartEnBloedvaten_74', 'k_153OverigeAangeborenAfwijkingen_75', 'TotaalSympEnOnvollOmschrZiekten_76', 'k_161Wiegendood_77', 'k_162OnvollOmschrEnOnbekOorzaken_78', 'k_163OvSymptomenEnOnvolledigOmsch_79', 'TotaalUitwendigeDoodsoorzaken_80', 'TotaalOngevallen_81', 'TotaalVervoersongevallen_82', 'k_17111Wegverkeersongevallen_83', 'k_17112OverigeVervoersongevallen_84', 'k_1712AccidenteleVal_85', 'k_1713AccidenteleVerdrinking_86', 'k_1714AccidenteleVergiftiging_87', 'k_1715OverigeOngevallen_88', 'k_172Zelfdoding_89', 'k_173MoordEnDoodslag_90', 'k_174GebeurtenissenOpzetOnbekend_91', 'k_175OverigeUitwendigeDoodsoorzaken_92', 'k_18TotaalCOVID19Coronavirus19_93', 'k_181VastgesteldeCOVID19_94', 'k_182VermoedelijkeCOVID19_95'] but received: Year

### PopulationChange - PopComparison2015_2020

### PopulationChange - GrowthPrediction2020_2050

### Death Datasets

### Birth Datasets

<b>Clean Data</b>

- lifeExpectency
    - lifeExpectencyPerRegion2016_2019 
- populationChange
    - pop2002_2020
    - popOverview
    - popComparison2015_2020
    - growthPrediction2020_2050
    - absoluteNr
- death
    - reasons1997_2014
    - reasons2005_2012
    - reasons2013_2020
    - perWeek2020_2021
- birth
    - birthPerYear1899_2018
    - avaragesOfMonth

<b>Merge</b>

In [ ]:
# these are custom classes made to keep the notebook neat.

<b>Heatmap</b>