# Notebook Setup

In [24]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# Dela - Predicting the amount of deaths per year

### 1. Intro
<b>Who is our client?</b><br>
Our client is Dela. Dela is a funeral insurer and caretaker for funeral services. In this semester, they will give us some inside problems that we can investigate on.<br><br>
<b>Project explanation</b><br>
Dela was faced with unprecedented challenge by the fluctuating demands during the Covid19 first year, and that way they are looking to enhance their abilities to react to surprising serge or drops in demands.
We cannot predict when Dela needs to upscale or downscale. However, we can forecast the amount of deaths in the upcoming years. Based on that knowledge and Dela experience, they can conclude themselves when to upscale or downscale.<br><br>
<b>Project goal</b><br>
In our project, we are going to forecast the amount of deaths per year. In this way we can help them conclude easier what to do on higher, lower demand.<br><br><br>
<b>Document explanation</b><br>
In this document there will be the testing and implementation of the project delivered proposal hypothesis. In this document, we will do that by understanding and experimenting with the collected data. After the understanding, we will see if our hypothesis can be validated and we will do that by applying machine learning onto our dataset.<br><br>
<b>Document setup:</b><br>
<table style="font-size: 14px !important; margin: 0 !important">
    <tr>
        <th style="text-align: left;">Data requirements</th>
        <td style="text-align: left;">In this chapter, we are going to setup the requirements for the data that is needed for the prediction. We will answer questions like ‘Which references are trustworthy?’, ‘Do we need some specific features?’, etc…</td>
    </tr>
    <tr>
        <th style="text-align: left;">Data collection</th>
        <td style="text-align: left;">In this chapter, we are going to explain where we found our data, where we are going to store our data and references to he subchapters of each dataset</td>
    </tr>
    <tr>
        <th style="text-align: left;">Data understanding</th>
        <td style="text-align: left;">In this chapter, we are going to understand each specific dataset that we downloaded to really understand the value of each dataset and how it is going to bring a value to Dela.</td>
    </tr>
    <tr>
        <th style="text-align: left;">Data preparation</th>
        <td style="text-align: left;">In this chapter, we are going to prepare our data so it is clean to work with, think about removing all the data that has invalid records, data that has wrong values or data that has similar features with different names.</td>
    </tr>
</table>

### 2. Provisioning

### 2.1 Data Requirements
In this chapter, we are trying to setup the expectations/ requirements of the data we are going to collect for the provisioning fase.

<table style="font-size: 14px !important; margin: 0 !important">
    <tr>
        <th style="text-align: left !important">Data Domain</th>
        <td style="text-align: left !important"></td>
    </tr>
    <tr>
        <th style="text-align: left !important">Data type</th>
        <td style="text-align: left !important"></td>
    </tr>
    <tr>
        <th style="text-align: left !important">Target Variable</th>
        <td style="text-align: left !important"></td>
    </tr>
    <tr>
        <th style="text-align: left !important">Expected Features</th>
        <td style="text-align: left !important"></td>
    </tr>
</table>

### 2.2 Data Collection
Because we want to search for data that contains the amount of deaths in the Netherlands, we began searching for an open data bank that is governmental. In this case the data is from a trustworthy source and will higher the chance of a good prediction. That's when we landed on CBS (stands for `Centraal Bureau voor de Statistiek`, translated to English that means  `Central Station of Statistics`).

<table style="font-size: 14px !important; margin: 0 !important">
    <tr>
        <th style="text-align: left !important">Data Source</th>
        <td style="text-align: left !important">We got our data from the official   <a href="https://opendata.cbs.nl/statline/portal.html?_la=nl&_catalog=CBS" target="_blank">CBS</a> Website</td>
    </tr>
    <tr>
        <th style="text-align: left !important">Data Storage</th>
        <td style="text-align: left !important">We stored all of our datasets on <a href="https://github.com/i454038/AI-car-price-prediction" target="_blank">Github</a>, so it is globally accessible</td>
    </tr>
</table>

Load in the datasets from Github

In [25]:
# these are custom classes made to keep the notebook neat.
from classes.dataImporting import datasetManager

datasets = datasetManager.defineDatasets()
dataframes = datasetManager.loadDatasets(datasets)

### 2.3 Data Understanding

understand this data

### 2.4 Data Preperation

### LifeExpectency - LifeExpectencyPerRegion

In [26]:
dataframes['lifeExpectency']['lifeExpectencyPerRegion'].head(5)

,id,Gemeente,Groep_rij,Geslacht,Bij geboorte,Bij geboorte (afwijking tov NL),Bij 65 jaar,Bij 65 jaar (afwijking tov NL)
0,518,'s-Gravenhage,Levensverwachting,Totaal,"80,8","onder, 99% zeker","19,1","onder, 99% zeker"
1,796,'s-Hertogenbosch,Levensverwachting,Totaal,"81,3","onder, 99% zeker","19,7","onder, 99% zeker"
2,1680,Aa en Hunze,Levensverwachting,Totaal,"82,1",geen,"20,4",geen
3,358,Aalsmeer,Levensverwachting,Totaal,"82,9","boven, 99% zeker","20,1",geen
4,197,Aalten,Levensverwachting,Totaal,"82,1",geen,"20,3",geen

### PopulationChange - Pop2002_2020

In [27]:
# transform dataset to align with others
dataframes['populationChange']['pop2002_2020'] = (
    dataframes['populationChange']['pop2002_2020']
        .rename(columns={'RegioS': 'Gemeente', 'Perioden': 'Year'})
        .assign(Year = lambda x: pd.to_datetime(x.Year.str[:4]).dt.year)
        .assign(Gemeente = lambda x: x.Gemeente.replace(datasetManager.mapFeature('Gemeente')))
#         .groupby(['Year', 'Gemeente', 'LevendGeborenKinderen_2', 'Overledenen_3']).mean()
#         .iloc[:, 4:4]
#         .reset_index()
)

In [28]:
dataframes['populationChange']['pop2002_2020'].head(1)

,ID,Gemeente,Year,BevolkingAanHetBeginVanDePeriode_1,LevendGeborenKinderen_2,Overledenen_3,TotaleVestiging_4,VestigingVanuitEenAndereGemeente_5,Immigratie_6,TotaalVertrekInclAdmCorrecties_7,VertrekNaarAndereGemeente_8,EmigratieInclusiefAdmCorrecties_9,OverigeCorrecties_10,Bevolkingsgroei_11,BevolkingsgroeiRelatief_12,BevolkingsgroeiSinds1Januari_13,BevolkingsgroeiSinds1JanuariRela_14,BevolkingAanHetEindeVanDePeriode_15
0,14604,Aa en Hunze,2002,25552.0,289.0,251.0,1353.0,1121.0,232.0,1617.0,1498.0,119.0,-21.0,-247.0,-0.97,-247.0,-0.97,25305.0

In [29]:
# dataset = (
#     dataframes['populationChange']['pop2002_2020']
#         .merge(dataframes['lifeExpectency']['lifeExpectencyPerRegion'], how='left', on='Gemeente')
#         .groupby(['Year', 'Gemeente', 'Bij geboorte']).mean()
#         .reset_index()
# )

# dataset.head(10)

### PopulationChange - PopOverview

In [30]:
# underneath each gemeente, we create a summary of the numbers in the whole netherlands
# this dataset will help doing that
# dataframes['populationChange']['popOverview'] = (
#     dataframes['populationChange']['popOverview']
        
# )

# bevolking aan het begin van de periode -> people at te beginning of the period.
#
#
dataframes['populationChange']['popOverview'].head(5)
# [year, deaths]
# [2002, 142355]
# [2003, 141936]

,Regio's,Onderwerp,Unnamed: 2,2002,2003,2004,2005,2006,2007,2008,...,2017,2018,2019,2020 januari,2020 februari,2020 maart,2020 oktober,2020 november,2020 december,2020
0,Nederland,Bevolking aan het begin van de periode,aantal,16105285,16192572,16258032,16305526,16334210,16357992,16405399,...,17081507,17181084,17282163,17407585,17413971,17423863,17465296,17472440,17476482,17407585
1,Nederland,Levend geboren kinderen,aantal,202083,200297,194007,187910,185057,181336,184634,...,169836,168525,169680,14085,12905,13556,14508,13555,13277,168681
2,Nederland,Overledenen,aantal,142355,141936,136553,136402,135372,133022,135136,...,150214,153363,151885,14111,12895,16237,14613,14925,16802,168678
3,Nederland,Vestiging in de gemeente |Totale vestiging,aantal,750197,720704,711944,734386,753452,763383,792769,...,1031566,1002022,1026586,89538,83523,77114,92808,81445,82067,1014246
4,Nederland,Vestiging in de gemeente |Vestiging vanuit een...,aantal,628947,616190,617925,642089,652302,646564,649253,...,796609,758285,757522,67318,61828,61504,71947,63662,65751,793393

In [31]:
dataframes['populationChange']['popOverview'] = (
    dataframes['populationChange']['popOverview']
        .melt(id_vars=["Regio's", "Onderwerp", "Unnamed: 2"], var_name="Year", value_name="Value")
        .pivot(index='Year', columns='Onderwerp')['Value']
        .reset_index()
)

In [32]:
dataframes['populationChange']['popOverview'].head(1)

Onderwerp,Year,Bevolking aan het begin van de periode,Bevolking aan het einde van de periode,Bevolkingsgroei|Bevolkingsgroei,Bevolkingsgroei|Bevolkingsgroei sinds 1 januari,"Bevolkingsgroei|Bevolkingsgroei sinds 1 januari, rela...","Bevolkingsgroei|Bevolkingsgroei, relatief",Levend geboren kinderen,Overige correcties,Overledenen,Vertrek uit de gemeente|Emigratie inclusief adm. correcties,Vertrek uit de gemeente|Totaal vertrek (incl. adm. correcties),Vertrek uit de gemeente|Vertrek naar andere gemeente,Vestiging in de gemeente |Immigratie,Vestiging in de gemeente |Totale vestiging,Vestiging in de gemeente |Vestiging vanuit een andere gemeente
0,2002,16105285,16192572,87287,87287,"0,54","0,54",202083,3227,142355,96918,725865,628947,121250,750197,628947

### PopulationChange - PopComparison2015_2020

In [33]:
dataframes['populationChange']['popComparison2015_2020']

        id           Gemeente                   Indicator  Waarde
0        3         Appingedam        Aantal inwoners 2015  12.011
1        3         Appingedam        Aantal inwoners 2020  11.642
2        3         Appingedam  Bevolkingsontwikkeling (%)    -3,1
3       10           Delfzijl        Aantal inwoners 2015  25.409
4       10           Delfzijl        Aantal inwoners 2020  24.678
...    ...                ...                         ...     ...
1060  1970  Noardeast-Fryslân        Aantal inwoners 2020  45.228
1061  1970  Noardeast-Fryslân  Bevolkingsontwikkeling (%)    -0,7
1062  1978        Molenlanden        Aantal inwoners 2015  43.457
1063  1978        Molenlanden        Aantal inwoners 2020  43.909
1064  1978        Molenlanden  Bevolkingsontwikkeling (%)     1,0

[1065 rows x 4 columns]

In [34]:
# allready in another dataset
dataframes['populationChange']['popComparison2015_2020'] = (
    dataframes['populationChange']['popComparison2015_2020']
        .pivot_table(index=['Gemeente'], columns = 'Indicator', values='Waarde', aggfunc=lambda x: ' '.join(x))
        .reset_index()
)

In [35]:
dataframes['populationChange']['popComparison2015_2020']

Indicator,Gemeente,Aantal inwoners 2015,Aantal inwoners 2020,Bevolkingsontwikkeling (%)
0,'s-Gravenhage (gemeente),514.861,545.838,"6,0"
1,'s-Hertogenbosch,150.889,155.111,"2,8"
2,Aa en Hunze,25.203,25.445,"1,0"
3,Aalsmeer,31.077,31.859,"2,5"
4,Aalten,26.904,27.121,"0,8"
...,...,...,...,...
350,Zundert,21.363,21.829,"2,2"
351,Zutphen,46.849,47.934,"2,3"
352,Zwartewaterland,22.166,22.685,"2,3"
353,Zwijndrecht,44.501,44.737,"0,5"
354,Zwolle,123.861,128.840,"4,0"

### PopulationChange - GrowthPrediction2020_2050

In [36]:
dataframes['populationChange']['growthPrediction2020_2050']

,id,Gemeente,Indicator,2030,2040,2050
0,3,Appingedam,Absoluut aantal inwoners,10.873,10.046,9.253
1,3,Appingedam,Bevolkingsgroei (% t.o.v. 2020),"-6,6","-13,7","-20,5"
2,10,Delfzijl,Absoluut aantal inwoners,22.393,19.182,16.213
3,10,Delfzijl,Bevolkingsgroei (% t.o.v. 2020),"-9,3","-22,3","-34,3"
4,14,Groningen (gemeente),Absoluut aantal inwoners,246.859,250.006,250.398
...,...,...,...,...,...,...
705,1969,Westerkwartier,Bevolkingsgroei (% t.o.v. 2020),"-1,9","-4,0","-6,7"
706,1970,Noardeast-Fryslân,Absoluut aantal inwoners,44.144,43.289,41.851
707,1970,Noardeast-Fryslân,Bevolkingsgroei (% t.o.v. 2020),"-2,4","-4,3","-7,5"
708,1978,Molenlanden,Absoluut aantal inwoners,43.705,44.566,45.223
709,1978,Molenlanden,Bevolkingsgroei (% t.o.v. 2020),"-0,5","1,5","3,0"

In [37]:
# dataframes['populationChange']['growthPrediction2020_2050'] = (
#     dataframes['populationChange']['growthPrediction2020_2050']
#         .pivot_table(index=['Gemeente'], columns = ['Indicator'], values=['2030', '2040', '2050'], aggfunc=lambda x: ' '.join(x))
#         .reset_index()
# )
dataframes['populationChange']['growthPrediction2020_2050'] = (
    dataframes['populationChange']['growthPrediction2020_2050']
        .melt(id_vars=["id", "Gemeente", "Indicator"], var_name="Year", value_name="Value")
        .pivot_table(index=['Year'], columns = 'Indicator', values='Value', aggfunc=lambda x: ' '.join(x))
#         .reset_index()
)

In [38]:
# it is indexing in a 3 dimentional array
dataframes['populationChange']['growthPrediction2020_2050']

Indicator,Absoluut aantal inwoners,Bevolkingsgroei (% t.o.v. 2020)
Year,,
2030,10.873 22.393 246.859 8.535 237.752 30.797 26....,"-6,6 -9,3 6,0 -10,5 12,2 -2,8 -1,9 -3,3 -0,9 0..."
2040,10.046 19.182 250.006 7.524 259.876 28.916 25....,"-13,7 -22,3 7,4 -21,1 22,6 -8,7 -5,5 -0,6 -2,3..."
2050,9.253 16.213 250.398 6.645 271.065 27.482 25.0...,"-20,5 -34,3 7,5 -30,3 27,9 -13,3 -8,5 1,9 -4,0..."

In [39]:
dataframes['populationChange']['absoluteNr'].head(1)

   id    Gemeente                   Indicator  Waarde
0   3  Appingedam  Aantal inwoners (absoluut)  11.642

### Death Datasets

In [40]:
dataframes['death']['reasons1997_2014'].head(1)

,ID,Geslacht,Leeftijd,DoodsoorzakenUitgebreideLijst,Perioden,Overledenen_1
0,1,T001038,10000,T001075,1997JJ00,135783.0

In [41]:
dataframes['death']['reasons2005_2012'].head(1)

,ID,Geslacht,Leeftijd,DoodsoorzakenUitgebreideLijst,Perioden,Overledenen_1
0,9,T001038,10000,T001075,2005JJ00,136402.0

In [42]:
dataframes['death']['reasons2013_2020'].head(1)

,ID,Geslacht,Leeftijd,DoodsoorzakenUitgebreideLijst,Perioden,Overledenen_1
0,17,T001038,10000,T001075,2013JJ00,141245.0

In [43]:
dataframes['death']['perWeek2020_2021'].head(1)

,,,Overledenen,Verwacht aantal overledenen,Verwacht aantal overledenen (95%-interval)
0,2020,1.0,3103.0,3277.0,2908 – 3645

### Birth Datasets

In [44]:
dataframes['birth']['birthPerYear1899_2018'].head(1)

   Jaar  Levend geborenen
0  1899             163.0

In [45]:
dataframes['birth']['avaragesOfMonth'].head(1)

     Maand   2021*    2020    1975
0  januari  13,899  14,085  15,140

<b>Clean Data</b>

- lifeExpectency
    - lifeExpectencyPerRegion2016_2019 
- populationChange
    - pop2002_2020
    - popOverview
    - popComparison2015_2020
    - growthPrediction2020_2050
    - absoluteNr
- death
    - reasons1997_2014
    - reasons2005_2012
    - reasons2013_2020
    - perWeek2020_2021
- birth
    - birthPerYear1899_2018
    - avaragesOfMonth

<b>Merge</b>

In [46]:
# these are custom classes made to keep the notebook neat.

<b>Heatmap</b>